@use "../../styles/functions" as function;
@use "../../styles/variables" as variable;
@use "../../styles/mixins" as mixin;

.radio-check {
  display: flex;
  flex-wrap: wrap;

  h3 {
    flex-basis: 100%;
  }

  .radio-check__checkboxes,
  .radio-check__radios {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;

    margin-right: 6em;
    margin-left: 1em;

    .radio-check__checkbox,
    .radio-check__radio {
      position: relative;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      cursor: pointer;
    }

    input {
      opacity: 0;
    }

    label {
      position: relative;
      cursor: pointer;

      &::before {
        position: absolute;
        width: function.px-to-em(24px);
        height: function.px-to-em(24px);
        border: 2px solid #AEADAE;
        top: -0.5em;
        left: -2.5em;

        content: "";
      }
    }

    .radio-label {
      &::before {
        border-radius: 2em;
      }
    }

    input[type="checkbox"]:checked + .checkbox-label[data-check="item-1"] {
      &::before {
        background-color: variable.$blue-color;
        border-color: variable.$blue-color;
      }

      &::after {
        @include mixin.checkbox-after-element;
      }
    }

    input[type="radio"]:checked + .radio-label[data-radio="item-1"] {
      &::before {
        border-color: variable.$blue-color;
      }
      
      &::after {
        @include mixin.radio-after-element;
      }
    }

    .radio-label[data-radio="item-1"],
    .checkbox-label[data-check="item-1"] {
      &:hover {
        &::before {
          border-color: variable.$blue-color;
        }
      }
    }

    .checkbox-label[data-check="item-2"],
    .checkbox-label[data-check="item-3"],
    .radio-label[data-radio="item-2"],
    .radio-label[data-radio="item-3"] {
      &::before {
        border-color: variable.$blue-color;
      }
    }

    .checkbox-label[data-check="item-3"] {
      &::before {
        background-color: variable.$blue-color;
      }

      &::after {
        @include mixin.checkbox-after-element;
      }
    }

    .radio-label[data-radio="item-3"] {
      &::after {
        @include mixin.radio-after-element;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 736px) {
  .radio-check {
    flex-direction: column;
    align-items: center;

    .radio-check__checkboxes,
    .radio-check__radios {
      margin-right: 0;
    }
  }
}