@use "../blocks/menu/menu.scss";
@use "../blocks/nav-menu/nav-menu.scss";
@use "../blocks/grid/grid.scss";
@use "../blocks/typography/typography.scss";
@use "../blocks/text-field/text-field.scss";
@use "./functions.scss" as function;
@use "./variables.scss" as variable;
@use "./mixins.scss" as mixin;

@font-face {
  font-family: 'Graphik LCG-Bold';
  src: url("../assets/fonts/Graphik-Bold-Web.woff2");
}

@font-face {
  font-family: 'Graphik LCG-Medium';
  src: url("../assets/fonts/Graphik-Medium-Web.woff2");
}

@font-face {
  font-family: 'Graphik LCG-Regular';
  src: url("../assets/fonts/Graphik-Regular-Web.woff2");
}

body {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
}

header, main {
  display: grid;
}

header {
  .menu {
    grid-column: 1 / -1;
  }

  .header-title, .text-content {
    grid-column: 4 / 12;
  }

  .nav-menu {
    grid-column: 1 / 3;
  }
}

main {
  .grid, .typography, .ui {
    grid-column: 4 / 12;
  }
}

td, th {
  text-align: start;
}


h1, .h1-style {
  @include mixin.text-style(
    variable.$h1-font-size,
    variable.$h1-line-height,
    'Graphik LCG-Bold'
  ) {
    white-space: nowrap;
  }
}

h2, .h2-style {
  @include mixin.text-style(
    variable.$h2-font-size,
    variable.$h2-line-height,
    'Graphik LCG-Bold'
  );
}

h3, .h3-style {
  @include mixin.text-style(
    variable.$h3-font-size,
    variable.$h3-line-height,
    'Graphik LCG-Medium'
  );
}

h4, .h4-style {
  @include mixin.text-style(
    variable.$h4-font-size,
    variable.$h4-line-height,
    'Graphik LCG-Medium'
  );
}

.lead-text {
  @include mixin.text-style(
    variable.$p-lead-font-size,
    variable.$p-lead-line-height,
    'Graphik LCG-Regular'
  );
}

.big-text {
  @include mixin.text-style(
    variable.$p_big-font-size,
    variable.$p-big-line-height,
    'Graphik LCG-Regular'
  );
}

.main-text {
  @include mixin.text-style(
    variable.$p_main-font-size,
    variable.$p-main-line-height,
    'Graphik LCG-Regular'
  ) {
    max-width: function.px-to-em(592px);
  }
}

.util-text {
  @include mixin.text-style(
    variable.$p_util-font-size,
    variable.$p-util-line-height,
    'Graphik LCG-Regular'
  ) {
    color: #7D7D7D;
  }
}

@media screen and (min-width: 1200px) {
  header, main {
    grid-template-columns: repeat(12, 1fr);
    gap: function.px-to-em(32px);
  }
}

@media screen and (min-width: 736px) and (max-width: 1200px) {
  header, main {
    grid-template-columns: repeat(8, 1fr);
    gap: function.px-to-em(32px);
  }
}

@media screen and (min-width: 320px) and (max-width: 736px) {
  header, main {
    grid-template-columns: repeat(4, 1fr);
    gap: function.px-to-em(24px);
  }
}