$h1-font-size: 48px;
$h1-line-height: 56px;
$h1-mobile-font-size: 32px;
$h1-mobile-line-height: 40px;

$h2-font-size: 32px;
$h2-line-height: 40px;
$h2-mobile-font-size: 28px;
$h2-mobile-line-height: 36px;

$h3-font-size: 24px;
$h3-line-height: 32px;
$h3-mobile-font-size: 20px;
$h3-mobile-line-height: 28px;

$h4-font-size: 18px;
$h4-line-height: 28px;

$p-lead-font-size: 24px;
$p-lead-line-height: 32px;
$p-mobile-lead-font-size: 20px;
$p-mobile-lead-line-height: 28px;

$p-big-font-size: 18px;
$p-big-line-height: 28px;

$p-main-font-size: 16px;
$p-main-line-height: 24px;

$p-util-font-size: 14px;
$p-util-line-height: 20px;

$blue-color: #3E29E3;
$grey-color:  #CBCBCC;
$white-grey-color: #F6F6F6;
$biege-color: #FFFFFF;
$pink-color: #DD80ED;
$dark-color: #1B1B1B;
$dark-grey-color: #7D7D7D;