@use "../../styles/functions" as function;

.grid__info {
  table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    max-width: function.px-to-em(904px);
  }

  th, td {
    padding-top: 0.3em;
  }

  .grid__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: function.px-to-em(904px);
    height: function.px-to-em(480px);
    margin-top: 3em;
    margin-bottom: 4em;

    background-color: #F6F6F6;
    overflow: hidden;

    .grid__desktop,
    .grid__tablet,
    .grid__mobile {
      max-width: 100%;

      img {
        width: 100%;
        height: auto;

        object-fit: cover;
        object-position: center;
      }
    }

    .grid__tablet {
      width: 65%;
    }

    .grid__mobile {
      position: relative;

      .line {
        position: absolute;
        width: function.px-to-em(312px);
        height: function.px-to-em(2px);
        background-color: #3E29E3;
        top: 24em;
        left: 0.5em;
      }

      img {
        margin-top: 15em;
      }
    }
  }

  &:last-child {
    .grid__image {
      margin-bottom: 0;
    }
  }
}