@use "../../styles/variables" as variable;

.typography {
  .typography__menu {
    border-bottom: 1px solid variable.$grey-color;

    .desktop-button, .mobile-button {
      padding-bottom: 1em;
      margin-top: 2.5em;
      margin-right: 2em;
      border: none;
      background-color: white;
      cursor: pointer;

      &--active {
        border-bottom: 2px solid variable.$blue-color;
      }
    }
  }

  .typography__desktop, .typography__mobile {
    border-collapse: separate;

    table {
      border-spacing: 0 2.5em;

      th, td {
        vertical-align: top;
        padding-right: 4vw;
      }
  
      td.util-text {
        color: variable.$dark-color;
      }
    }
  }

  .typography__desktop {
    display: block;
  }

  .typography__mobile {
    display: none;
  }
}