.typography {
  .typography__menu {
    border-bottom: 1px solid #CBCBCC;

    button {
      margin-bottom: 1em;
      margin-top: 2.5em;
      border: none;
      background-color: white;
      cursor: pointer;
    }
  }

  .typography__desktop {
    border-collapse: separate;

    table {
      border-spacing: 0 2.5em;

      th, td {
        vertical-align: top;
        padding-right: 4vw;
      }
  
      td.util-text {
        color: #1B1B1B;
      }
    }
  }

  .typography__mobile {
    display: none;
  }
}