@use "../../styles/functions" as function;

.menu {
  display: flex;
  justify-content: space-between;
  padding: 2em;

  .menu__brand {
    display: flex;
    gap: 1.3em;
    margin-left: 1em;

    .menu__logo {
      height: function.px-to-em(40px);
      width: function.px-to-em(40px);
  
      background-image: url("~images/logo.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    .menu__text {
      display: flex;
      flex-direction: column;

      .menu__surname {
        $p_util-font-size: 14px;
        $p_util-line-height: 20px;

        font-family: 'Graphik LCG-Regular';
      }
    }
  }

  .menu__ico {
    display: flex;
    flex-direction: column;
    gap: 0.3em; 
    margin-right: 1em;

    .menu__line-1 {
      width: function.px-to-em(32px);
    }

    .menu__line-2 {
      width: function.px-to-em(24px);
      margin-left: auto;
    }

    .menu__line-1, .menu__line-2 {
      height: function.px-to-em(2px);
      background-color: #1B1B1B;
    }
  }
}