@use "../../styles/functions" as function;

.menu {
  display: flex;
  flex-direction: column;

 .menu__closed {
  display: flex;
  justify-content: space-between;
  padding: 2em;

  .menu__brand {
    display: flex;
    gap: 1.3em;
    margin-left: 1em;

    .menu__logo {
      height: function.px-to-em(40px);
      width: function.px-to-em(40px);
  
      background-image: url("~images/logo.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  
    .menu__text {
      display: flex;
      flex-direction: column;

      .menu__surname {
        $p_util-font-size: 14px;
        $p_util-line-height: 20px;

        font-family: 'Graphik LCG-Regular';
      }
    }
  }

  .menu__ico {
    display: flex;
    flex-direction: column;
    gap: 0.3em; 
    margin-right: 1em;
    cursor: pointer;

    .menu__line-1 {
      width: function.px-to-em(32px);
    }

    .menu__line-2 {
      width: function.px-to-em(24px);
      margin-left: auto;
    }

    .menu__line-1, .menu__line-2 {
      height: function.px-to-em(2px);
      background-color: #1B1B1B;
    }
  }
 }

 .menu__opened {
  display: none;
  position: relative;
  background-image: url("~images/background-menu.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .menu__close-button {
    position: absolute;
    width: function.px-to-em(2px);
    height: function.px-to-em(24px);
    top: 0;
    right: 0;

    &::after, &::before {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 2em;
      right: 4em;
      background-color: #FFFFFF;
      content: "";
    }
  
    &::after {
      transform: rotate(45deg);
    }
  
    &::before {
      transform: rotate(-45deg);
    }
  }

  .menu__info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 60vw;
    margin: 0.5em;

    background-color: #FFFFFF;

    .menu__logo {
      height: function.px-to-em(40px);
      width: function.px-to-em(40px);
      grid-column: 1 / 1;
      justify-self: center;
      margin-top: 2em;
  
      background-image: url("~images/logo.png");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    p.util-text {
      grid-column: 2 / 2;
      justify-self: start;
      white-space: nowrap;
      margin-top: 3em;
    }

    h2.h2-style {
      grid-column: 2 / -1;
      grid-row: 2 / 3;
      align-self: flex-start;
    }

    p.main-text {
      grid-column: 2 / -1;
      grid-row: 3 / 4;
      align-self: flex-start;
    }

    a.big-text {
      grid-column: 2 / -1;
      grid-row: 4 / 5;

      text-decoration: none;
      color: #3E29E3;
    }

    .menu__footer {
      display: flex;
      align-items: center;
      gap: 2em;
      grid-column: 2 / -1;
      grid-row: 6 / -1;

      .round-element {
        position: relative;
        width: function.px-to-em(48px);
        height: function.px-to-em(48px);
        border-radius: 50%;
        box-shadow: 0px 4px 8px 0px #00000014;
        position: relative;

        &::before {
          position: absolute;
          width: function.px-to-em(12px);
          height: function.px-to-em(12px);
          background: 
            linear-gradient(to right, #3E29E3, #3E29E3) top left / 6px 2px no-repeat,
            linear-gradient(to top, #3E29E3, #3E29E3) bottom right / 2px 6px no-repeat,
            linear-gradient(to left, #3E29E3, #3E29E3) bottom right / 12px 2px no-repeat,
            linear-gradient(to bottom, #3E29E3, #3E29E3) bottom left / 2px 12px no-repeat;
          left: 50%;
          transform: translate(-50%, 150%);
          content: "";
        }

        &::after {
          position: absolute;
          width: function.px-to-em(6px);
          height: function.px-to-em(6px);
          background: 
            linear-gradient(to right, #3E29E3,#3E29E3) top left / 6px 2px no-repeat,
            linear-gradient(to bottom, #3E29E3,#3E29E3) top right / 2px 6px no-repeat;
          top: 33%;
          left: 55%;
          content: "";
        }
      }

      a {
        text-decoration: none;
        color: #3E29E3;
      }
    }
  }
 }
}

@media screen and (min-width: 320px) and (max-width: 736px) {
  .menu {
    .menu__closed {
      padding: 1em;

      .menu__brand {
        margin-left: 0;
      }

      .menu__ico {
        justify-content: center;
      }
    }

    .menu__opened {
      .menu__info {
        width: auto;
      }

      .menu__close-button {
        top: 1em;

        &::after,
        &::before {
          background-color: #1B1B1B;
        }
      }
    }
  }
}